<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
<h4><button type="button" (click)="toPatients()" class="btn btn-outline-dark">Patients Dashboard</button></h4>
<h4><button type="button" (click)="toAppointments()" class="btn btn-outline-dark">Appointments Dashboard</button></h4>
<h4><button type="button" (click)="toTests()" class="btn btn-outline-dark">Tests Dashboard</button></h4>
<h4><button type="button" (click)="toCenters()" class="btn btn-outline-dark">Center Dashboard</button></h4>
<h4><button type="button" (click)="toHome()" class="btn btn-outline-dark">Log Out</button></h4>
</nav>