<div  class="container">

    <div class = "text-center">      
        <h2 class="display-4"> Enter Patient Details </h2>
    </div>
    <br>

    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form-group"> 
            <input type="text" width="20" name="patient.name" [(ngModel)]="patient.name" placeholder="Name" class="form-control" required><br>
            <input  type="text" width="20"  name="patient.phoneNo" [(ngModel)]="patient.phoneNo" placeholder="Phone No" class="form-control" required/> <br>
            <input  type="number" width="20"  name="patient.age" [(ngModel)]="patient.age" placeholder="Age" class="form-control" required/> <br>
            <input  type="text" width="20"  name="patient.gender" [(ngModel)]="patient.gender" placeholder="Gender" class="form-control" required/> <br>
        
            <div *ngIf="form.invalid && form.touched"  class="alert alert-danger">
                Enter Valid Data
              </div> 
              <div class="col-md-12 text-center">
                <button class="btn btn-primary" [disabled]="!form.valid" type="submit"> Submit </button>
              </div>
    </form>
</div>

